#logo{
    margin-top: 18%;
}
#mouse{
    margin-top: 6%;
    margin-bottom: 6%;
}
.home {
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: aliceblue;
}
.about{
    text-align: center;
    margin-top: 2%;
}
.services{
    background-image: url("/images/s_image.jpg");
    background-repeat: no-repeat;
  background-size: cover;
    text-align: center;
    color: aliceblue;
}
.work{
    text-align: center;
}
.portfolio{
    text-align: center;
}
.img_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}
.contacts{
    background-image: url("/images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.contacts input {
    margin-bottom: 3%;
    background: transparent;
  }
  .contacts textarea {
    background: transparent;
  }
  
  .contacts textarea::placeholder, .contacts input::placeholder {
    background: transparent;
    color: aliceblue;
  }
  
footer{
    text-align: center;
    margin-top: 5%;
}