*{
    font-family: 'Source Serif Pro', serif;
}
#logo{
    margin-top: 18%;
}
#mouse{
    margin-top: 6%;
    margin-bottom: 6%;
}
#mouse {
  animation: bounce 3s infinite;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}
.home {
    background-image: url("/images/h_img.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: aliceblue;
}
.about{
    text-align: center;
    margin-top: 2%;
}
.services{
    background-image: url("/images/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.services p{
    text-align: center;
    padding-bottom: 10%;
  }
.work{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.info{
    display: none;
  }
.details{
    display: none;
}

.portfolio{
    text-align: center;
}
.img_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
  }
   
  .img_description {
    position: absolute;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    border: 2px solid white;
    color: white;
    font-size: 30px;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
   
  .img_description_show {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
.contacts{
    background-image: url("/images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    padding: 4%;
}
.contacts input {
    margin-bottom: 3%;
    background: transparent;
  }
  .contacts textarea {
    background: transparent;
  }
  
  .contacts textarea::placeholder, .contacts input::placeholder {
    background: transparent;
    color: aliceblue;
  }
  .post{
      margin-bottom: 15px;
      padding: 5px;
      border-radius: 10px;
      font-weight: bolder;
  }
  
footer{
    text-align: center;
    margin-top: 5%;
    font-weight: bolder;
}